:root {
  /* Primary and text colors */
  --bg-primary: #f9f9f9;
  --bg-secondary: #dfe6e9;

  /* Text */
  --text-dark: #2c3e50;
  --text-light: #7f8c8d;
}

body {
  margin: 0;

  background-color: var(--bg-primary);
}

header {
  position: sticky;
  top: 0; /* stick to the top */
  background-color: inherit;
  z-index: 1000; /* ensures it stays above other elements */
  padding: 0 2rem;

  display: flex;

  align-items: center;
  justify-content: space-evenly;

  gap: 1rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .phone_number {
    background-color: var(--bg-secondary);

    border-radius: 0.5rem;
  }
}

main {
  > .welcome_container {
    position: relative;

    > .welcome_image {
      width: 100dvw;
      height: auto;
    }

    > .welcome_message {
      position: absolute;

      top: 0;

      display: flex;
      flex-direction: column;

      text-align: center;
      width: 100%;
    }

    > .call_to_action {
      position: absolute;

      bottom: 0;

      text-align: center;
      width: 100%;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  > .card_container {
    > .card {
      position: relative;

      margin: 1rem;
      padding: 0.75rem;

      display: flex;

      border-radius: 0.5rem;
      height: 25dvh;

      background-color: var(--bg-secondary);

      .card_image {
        flex: 1 0 100%;

        object-fit: cover;
      }

      .card_text {
        position: absolute;
        top: 0;
      }
    }

    > .banner {
      position: relative;
      background-color: var(--bg-secondary);

      height: 10dvh;

      display: flex;
      align-items: center;

      > img {
        position: absolute;
        left: -200px;
      }

      > .small_truck {
        animation: moveAcross 5s linear infinite;
      }

      > .small_bulldozer {
        animation: moveAcross 5s linear infinite reverse;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;

  text-align: center;

  border-top: 1px solid black;
}

#logo {
  width: 8rem;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin: 1rem;

  color: var(--text-dark);
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin: 1rem;

  color: var(--text-dark);
}

p,
a,
span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;

  color: var(--text-light);
}

section {
  padding: 2rem;

  .slider_wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

    .slider {
      display: flex;
      aspect-ratio: 16/9;
      overflow: auto;

      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0, 0, 0.25);
      border-radius: 0.5rem;

      img {
        flex: 1 0 100%;
        scroll-snap-align: start;

        object-fit: cover;
      }
    }

    .slider_nav {
      display: flex;
      column-gap: 1rem;

      position: absolute;

      bottom: 1.25rem;
      left: 50%;

      transform: translateX(-50%);

      z-index: 1;

      a {
        width: 0.5rem;
        height: 0.5rem;

        border-radius: 50%;
        background-color: var(--text-light);

        opacity: 0.75;

        transition: opacity ease 250ms;

        &:hover {
          opacity: 100;
        }
      }
    }
  }
}

@keyframes moveAcross {
  0% {
    left: -200px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    left: calc(100dvw - 100px);
    opacity: 1;
  }
  100% {
    left: calc(100dvw - 100px);
    opacity: 0;
  }
}
