body {
  margin: 0;

  background-color: #d3d9d4;
}

header {
  position: sticky;
  top: 0; /* stick to the top */
  background-color: inherit;
  z-index: 1000; /* ensures it stays above other elements */
  padding: 0 30px;

  display: flex;

  align-items: center;
  justify-content: space-evenly;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

main {
  > .welcome_container {
    color: white;
    position: relative;

    > .welcome_image {
      width: 100dvw;
      height: auto;
    }

    > .welcome_message {
      position: absolute;

      top: 0;

      display: flex;
      flex-direction: column;

      text-align: center;
      width: 100%;
    }

    > .call_to_action {
      position: absolute;

      bottom: 0;

      text-align: center;
      width: 100%;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  > .card_container {
    .card {
      position: relative;

      margin: 20px;
      padding: 10px;

      border-radius: 2.5%;
      height: 25dvh;

      background-color: darksalmon;

      .card_img {
        width: 100%;
        height: 100%;
      }

      .card_text {
        position: absolute;
        top: 0;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;

  text-align: center;

  border-top: 1px solid black;
}

#logo {
  width: 100px;
}
