#gallery {
  display: none;
}

.gallery-section {
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    color: var(--color-secondary);
  }

  .active {
    display: block;
  }

  .gallery-item {
    grid-column: span 4;

    img {
      width: 100%;
      min-height: 300px;
      max-height: 500px;

      background-size: cover;
      background-position: center;

      transition: transform 0.25s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
