.grid {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(12, 1fr);
}

/* Tablet */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Column span helper */
[class*="col-span-"] {
  background-color: rgba(var(--color-bg), 1);
  padding-inline: 1rem;

  border-radius: 0.5rem;

  border: 1px solid rgba(var(--color-secondary), 1);
}

/* Define column spans (for 12-col layout) */
.col-span-1 {
  grid-column: span 1;
}
.col-span-2 {
  grid-column: span 2;
}
.col-span-3 {
  grid-column: span 3;
}
.col-span-4 {
  grid-column: span 4;
}
.col-span-6 {
  grid-column: span 6;
}
.col-span-8 {
  grid-column: span 8;
}
.col-span-12 {
  grid-column: span 12;
}
