.hero {
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-bg);
  padding-block: 4rem;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .hero-image {
    padding: 0;

    max-height: 300px;

    overflow: hidden; /* clip image */
    display: flex; /* for centering */
    justify-content: center;
    align-items: center;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* clip & center */
      object-position: 0 -125px; /* make sure it's centered */
    }
  }
}

/* Tablet */
@media (max-width: 992px) {
  .hero {
    grid-template-columns: repeat(8, 1fr);
  }
  .hero-content {
    grid-column: span 8;
    text-align: center;
    align-items: center;
  }
  .hero-image {
    grid-column: span 8;
    min-height: 250px;
    margin-top: 2rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .hero {
    grid-template-columns: repeat(4, 1fr);
  }
  .hero-content {
    grid-column: span 4;
  }
  .hero-image {
    grid-column: span 4;
  }
}
