/* HEADER */
header {
  background-color: rgba(var(--color-secondary), 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--gutter);

  padding-inline: 1rem;

  border: 1px solid rgba(var(--color-secondary), 1);

  > img {
    max-height: 150px;
  }
}

/* SERVICES */
#services {
  background-color: rgba(var(--color-secondary), 0.1);

  .service-card {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      cursor: pointer;

      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

#contact-info {
}

#reviews {
  .stars {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);

    color: rgba(var(--color-accent), 1);
  }

  .review {
  }
}

footer {
  background-color: rgba(var(--color-secondary), 0.1);

  text-align: center;
  padding-block: 2rem;
}

/* RESPONSIVE NAVIGATION */
@media (max-width: 768px) {
  header {
    > img {
      max-height: 100px;
    }
  }
}
