/* HEADER */
header {
  background-color: rgba(var(--color-secondary), 0.1);

  display: flex;
  gap: var(--gutter);

  padding-inline: 1rem;

  border: 1px solid rgba(var(--color-secondary), 1);

  > img {
    max-height: 150px;
  }
}

/* SERVICES */
#services {
  background-color: rgba(var(--color-secondary), 0.1);

  .service-card {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      cursor: pointer;

      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

#contact {
  /* CONTACT FORM */
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-family: var(--font-family);
  }
}

.contact-form button.btn-primary {
  width: fit-content;
}

footer {
  background-color: rgba(var(--color-secondary), 0.1);

  text-align: center;
  padding-block: 2rem;
}

/* RESPONSIVE NAVIGATION */
@media (max-width: 768px) {
  header {
    > img {
      max-height: 100px;
    }
  }
}
