/* HEADER */
header {
  background-color: rgba(var(--color-secondary), 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--gutter);

  padding-inline: 1rem;

  border: 1px solid rgba(var(--color-secondary), 1);

  > img {
    max-height: 150px;
  }

  .nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-logo {
      width: 75px;
      height: auto;
    }

    .nav-title {
      margin: 0;
      line-height: 1.1;
      color: var(--color-secondary);
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

/* SERVICES */
#services {
  background-color: rgba(var(--color-secondary), 0.1);

  .service-card {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      cursor: pointer;

      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }
}

#contact-info {
}

#reviews {
  .stars {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);

    color: rgba(var(--color-accent), 1);
  }

  .review {
  }
}

footer {
  background-color: rgba(var(--color-secondary), 0.1);

  text-align: center;
  padding-block: 2rem;
}

/* -------------------------
   RESPONSIVE
-------------------------- */

/* Tablet */
@media (max-width: 992px) {
  .nav {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .nav-links {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .nav-title {
    font-size: 1.2rem;
  }

  .nav-logo {
    width: 45px;
  }
}
